{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2>Farms</h2>
  <div class="d-flex justify-content-between align-items-center my-3">
    <input
      type="text"
      class="form-control w-50"
      id="searchBox"
      placeholder="Search farms..."
    />
    <button
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#addFarmModal"
    >
      Add Farm
    </button>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th class="text-center">No</th>
        <th class="text-center">Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">Address</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody id="farmTableBody">
      {% for farm in children_1 %}
      <tr>
        <td class="text-center align-middle">{{ loop.index }}</td>
        <td class="text-center align-middle">{{ farm.name }}</td>
        <td class="text-center align-middle">{{ farm.email }}</td>
        <td class="text-center align-middle">{{ farm.address }}</td>
        <td class="text-center align-middle">
          <button
            class="btn btn-sm"
            style="background-color: transparent; border: none"
            data-bs-toggle="modal"
            data-bs-target="#editFarmModal{{ farm.id }}"
          >
            <i class="bi bi-pencil-square text-primary fs-4"></i>
          </button>
          <button
            class="btn btn-sm"
            style="background-color: transparent; border: none"
            data-bs-toggle="modal"
            data-bs-target="#deleteFarmModal{{ farm.id }}"
          >
            <i class="bi bi-trash text-danger fs-4"></i>
          </button>
        </td>
      </tr>

      <!-- Edit Farm Modal -->
      <div
        class="modal fade"
        id="editFarmModal{{ farm.id }}"
        tabindex="-1"
        aria-labelledby="editFarbModalLabel{{ farm.id }}"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <form
              method="POST"
              action="{{ url_for('auth_farm_bp.edit_farm', farm_id=farm.id) }}"
            >
              <div class="modal-header">
                <h5 class="modal-title" id="editFarmModalLabel{{ farm.id }}">
                  Edit Farm
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="form-group mb-3">
                  <label for="name{{ farm.id }}">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name{{ farm.id }}"
                    name="name"
                    value="{{ farm.name }}" required
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="email{{ farm.id }}">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email{{ farm.id }}"
                    name="email"
                    value="{{ farm.email }}" required
                  />
                </div>
                <div class="form-group mb-3">
                  <label for="company">Company</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id="company" 
                    name="company_name" 
                    value="{% for customer in children_2 %}{{ customer.name }}{% endfor %}" 
                    readonly>
                  <!-- Add hidden input for company_id -->
                  <input 
                    type="hidden" 
                    name="company_id" 
                    value="{% for customer in children_2 %}{{ customer.id }}{% endfor %}">
                </div>
                <div class="form-group mb-3">
                  <label for="address{{ farm.id }}">Adress</label>
                  <input
                    type="address"
                    class="form-control"
                    id="address{{ farm.id }}"
                    name="address"
                    value="{{ farm.address }}" required
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                  Update
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Delete Farm Modal -->
      <div
        class="modal fade"
        id="deleteFarmModal{{ farm.id }}"
        tabindex="-1"
        aria-labelledby="deleteFarmModalLabel{{ farm.id }}"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteFarmModalLabel{{ farm.id }}">
                Confirm Delete
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete farm {{ farm.name }}?
            </div>
            <div class="modal-footer">
              <a
                href="{{ url_for('auth_farm_bp.delete_farm', farm_id=farm.id) }}"
                class="btn btn-danger"
                >Delete</a
              >
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </tbody>
  </table>

  <!-- Add Farm Modal -->
  <div
    class="modal fade"
    id="addFarmModal"
    tabindex="-1"
    aria-labelledby="addFarmModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="POST" action="{{ url_for('auth_farm_bp.add_farm_modal') }}">
          <div class="modal-header">
            <h5 class="modal-title" id="addFarmModalLabel">Add New Farm</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="form-group mb-3">
              <label for="company">Company</label>
              <input 
                type="text" 
                class="form-control" 
                id="company" 
                name="company_name" 
                value="{% for customer in children_2 %}{{ customer.name }}{% endfor %}" 
                readonly>
              <!-- Add hidden input for company_id -->
              <input 
                type="hidden" 
                name="company_id" 
                value="{% for customer in children_2 %}{{ customer.id }}{% endfor %}">
            </div>
            <div class="form-group mb-3">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name" required
              />
            </div>
            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email" required
              />
            </div>
            <div class="form-group mb-3">
              <label for="address">Address</label>
              <input
                type="address"
                class="form-control"
                id="address"
                name="address"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("searchBox").addEventListener("input", function () {
    const searchValue = this.value.toLowerCase();
    const rows = document.querySelectorAll("#farmTableBody tr");
    rows.forEach((row) => {
      const cells = row.querySelectorAll("td");
      const match = Array.from(cells).some((cell) =>
        cell.innerText.toLowerCase().includes(searchValue)
      );
      row.style.display = match ? "" : "none";
    });
  });
</script>
{% endblock %}