<!DOCTYPE html>
<html>
  <head>
    <title>Harvest</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
        font-size: 16px;
      }
      .navbar {
        background-color: #343a40;
      }
      .navbar-brand {
        font-size: 24px;
        font-weight: bold;
        color: #fff;
      }
      .nav-link:hover {
        color: #f8f9fa;
      }
      .nav-link {
        color: #fff;
        margin-left: 5px;
        margin-right: 5px;
      }
      .nav-link.active {
        color: #00b4d8;
      }
      .flash {
        margin-bottom: 10px;
      }
      .content {
        padding: 20px;
      }
      .container {
        margin-top: 70px;
      }
    </style>
  </head>
  <body>
    {% if current_user.is_authenticated %}
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid d-flex justify-content-around">
        {% if current_user.permission == 0 %}
        <!-- Superadmin Navbar -->
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Harvest</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'company.index' %}active{% endif %}" aria-current="page" href="{{ url_for('company.index') }}">Company</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'admin_user_bp.index' %}active{% endif %}" aria-current="page" href="{{ url_for('admin_user_bp.index') }}">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'admin_farm_bp.index' %}active{% endif %}" aria-current="page" href="{{ url_for('admin_farm_bp.index') }}">Farm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'admin_field_bp.index' %}active{% endif %}" aria-current="page" href="{{ url_for('admin_field_bp.index') }}">Field</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'admin_harvest_bp.index' %}active{% endif %}" aria-current="page" href="{{ url_for('admin_harvest_bp.index') }}">Harvest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'admin_harvest_per_field_bp.index' %}active{% endif %}" aria-current="page" href="{{ url_for('admin_harvest_per_field_bp.index') }}">Harvest per field</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'admin_truck_bp.index' %}active{% endif %}" aria-current="page" href="{{ url_for('admin_truck_bp.index') }}">Truck</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'admin_harvest_rig_bp.index' %}active{% endif %}" aria-current="page" href="{{ url_for('admin_harvest_rig_bp.index') }}">Harvest Rig</a>
          </li>
        {% elif current_user.permission == 1 %}
        <!-- User Navbar without Company link -->
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Harvest</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'auth_user_bp.index' %}active{% endif %}" aria-current="page" href="{{ url_for('auth_user_bp.index') }}">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'auth_farm_bp.index' %}active{% endif %}" aria-current="page" href="{{ url_for('auth_farm_bp.index') }}">Farm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'auth_field_bp.index' %}active{% endif %}" aria-current="page" href="{{ url_for('auth_field_bp.index') }}">Field</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'auth_harvest_bp.index' %}active{% endif %}" aria-current="page" href="{{ url_for('auth_harvest_bp.index') }}">Harvest</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'auth_harvest_per_field_bp.index' %}active{% endif %}" aria-current="page" href="{{ url_for('auth_harvest_per_field_bp.index') }}">Harvest per field</a>
          </li>
        {% endif %}
          <div class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ current_user.email }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="{{ url_for('authentication.logout') }}"
                  >Logout</a
                >
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </nav>
    {% endif %}

    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="flash alert alert-success">{{ message|safe }}</div>
      {% endfor %}

      <div class="content">{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>
